body {

	margin: 0;
	padding: 0;

	font-family: "Libre Baskerville";

	color: #33332D;

}

header {

	margin: 0;
	padding: 5em 0;
	padding-top: 3em;

	text-align: center;

	background: #fff;

}

.avatar {



}

.headerName {

	margin: 0;
	margin-bottom: .6em;
	padding: 0;

	font-size: 3em;

}

.headerDesc {

	margin: 0;
	padding: 0;
	padding-left: 2em;

	font-size: .8em;

}

.projectSection {

	margin: 0;
	padding: 3em 2em;

}

.projectSection img {

	display: inline-block;

}

.projectSection div {

	display: inline-block;

	margin-left: 2em;

}

.projectSection div h2 {

	font-size: 1.9em;

}

.projectSection div p {

	font-size: 1em;

}







#project1 {

	background: #F2F2F2;
}

#project2 {

	background: #C9E2F2;
}
#project3 {

	background: #A7BCD9;
}
#project4 {

	background: #7C8AA6;
}
#project5 {

	background: #515673;
}