* {
   margin: 0;
   padding: 0;
}

body {
   background: url("chance.jpg");
   background-size: cover;
   background-position: left;
   background-repeat: no-repeat;
   font-family: 'Roboto';

   width: 100%;
}

header {

   padding-left: 6em;
   padding-top: 4em;
   padding-bottom: 2em;

   background: #EA3B7F;

   box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,0.23);
}

header > h1 {

   font-size: 3.2em;
   font-weight: 300;
   color: #fff;
}

header > h2 {

   margin-top: .5em;

   font-size: 1.6em;
   font-weight: 300;
   color: #6A1B3A;

}

header > button {

   cursor: pointer;
   outline: none;

   margin-top: 2.5em;
   margin-right: 2em;

   float: right;

   font-size: 30px;
   font-weight: 700;
   color: #fff;

   background: #9D184C;
   border: none;

   border-radius: 50%;
   padding: 30px;
   line-height: 20px;

   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

   opacity: .75;

   transition: .1s opacity ease-in-out;

}

header > button:hover {

   opacity: 1;

}

.track-container {

   margin: 4em auto;

   max-width: 650px;
   height: 500px;

   background: white;

   border-radius: 1px;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

   overflow-y: scroll;

   opacity: .95;

}

.track-item {

   cursor: pointer;

   padding: 1.5em 1em;

   font-size: 1.2em;
   font-weight: 400;
   color: #000;

   border-bottom: 1px solid #eee;

}

.track-number {

   float: left;

   padding-left: 1em;

}

.track-name {

   margin-left: 2em;

}

.track-time {

   float: right;

   padding-right: 1em;

}

#active-track {

   background: rgba(234, 59, 127, .4);

}

#active-track:hover {

   background: rgba(234, 59, 127, .4);

}

.track-item:hover {
   background: rgba(234, 59, 127, .1);
}

.track-item:active {

   background: rgba(234, 59, 127, .5);

}
